body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial , sans-serif;
  font-size: 14px;
  line-height: 21px;
  color:rgb(51, 51, 51);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.advantages ul {
  list-style: none;
}

.site-navigation li {
  display: inline;
}

.site-navigation a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.site-navigation a:hover {
  color: rgb(129, 179, 210);
}

.site-navigation a:active {
  color: rgb(178, 178, 178);
}

.site-navigation a.active {
  color: rgb(118, 99, 87);
}

.heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.advantages-item-blue,
.advantages-item-blue h2 {
  color: rgb(255, 255, 255);

  background-color: rgb(129, 179, 210);
}

.advantages-item-wrapper {
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper h2 {
  margin-top: 0px;
  margin-bottom: 14px;
  padding: 47px 120px 10px 120px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-wrapper span {
  display: block;
  height: 26px;
}

.advantages-item-wrapper p {
  margin: 16px 46px 0px 46px;
}

.icon-house,
.icon-burger,
.icon-gift {
  display: block;
  width: 400px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.icon-house {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 50% 61px;
}

.icon-burger {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 49% 62px;
}

.icon-gift {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 50% 59px;
}

.item-white-wrapper {
  text-align: center;
}

.item-white-wrapper p {
  padding: 0px 55px;
}

.item-white-wrapper h2 {
  margin-top: 150px;
  margin-bottom: 14px;
  padding: 11px 0px 10px 0px;

  line-height: 21px;
}


.interesting {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
}

.button-form-status {
  position: absolute;
  bottom: 0px;
  right: 316px;

  display: block;
  width: 568px;
  padding: 32px 0px 32px 0px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);

  background-color: rgb(118, 99, 87);
}

.button-form-status:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(96, 78, 67);
}

.button-form-status:active {
  color: rgb(133, 120, 113);

  background-color: rgb(80, 62, 51);
}

.calendar {
  position: absolute;
  top: 9px;
  right: 19px;
  display: block;

  width: 0px;
  height: 0px;

  border: none;
}

.icon-color {
  fill: rgba(0, 0, 0, 0.302);
}

.button-minus {
  display: block;
  width: 38px;
  height: 38px;

  box-sizing: border-box;

  background-image: url("../img/icon-minus.png");
  background-repeat: no-repeat;
  background-position: 16px 19px;

  border: none;
}

.button-plus {
  display: block;
  width: 38px;
  height: 38px;

  box-sizing: border-box;

  background-image: url("../img/icon-plus.png");
  background-repeat: no-repeat;
  background-position: 16px 14px;

  border: none;
}

.search-button-submit {
  width: 459px;
  height: 58px;
  padding: 0px;
  margin-top: 54px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(129, 179, 210);
  border: none;
}

.search-button-submit:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(102, 158, 192);
}

.search-button-submit:active {
  color: rgb(136, 182, 209);

  background-color: rgb(84, 150, 189);
}

.modal-search {
  position: absolute;
  top: 2167px;
  left: 355px;

  width: 368px;
  height: 395px;

  background-color: rgb(255, 255, 255);
}

.modal form:target {
  display: block;
}

.hotel-filter-form {
  position: relative;

  width: 1200px;
  height: 219px;

  color: rgb(255, 255, 255);

  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.interior-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 1058px;
  padding: 0px 71px;
}

.hotel-filter-form legend {
  padding-top: 28px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.hotel-filter-form fieldset {
  padding: 0;
}

.hotel-filter-form ul,
.hotel-filter-result ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotel-filter-form li {
  padding-top: 25px;

  list-style: none;
}

.filter-button-submit {
  position: absolute;
  top: 151px;
  left: 810px;

  width: 136px;
  height: 35px;
  margin-left: 86px;

  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;

  border-style: initial;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
}

.filter-button-submit:hover {
  color: rgb(0, 0, 0);
  text-align: center;

  border-color: none;
  background-color: rgb(255, 255, 255);
}

.result-item-sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-style li,
.sorting-style-direction li {
  display: inline-block;
  vertical-align: bottom;
}

.sorting-style a.current {
  color: rgb(129, 179, 210);
  text-decoration: none;

  border: none;
}

.sorting-style a:hover {
  color: rgb(129, 179, 210);
}

.sorting-style a:active {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sorting-style-up-dir {
  fill: rgb(202, 202, 202);
}

.sorting-style-up-dir:hover,
.sorting-style-down-dir:hover {
  fill: rgb(51, 51, 51);
}

.sorting-style-up-dir:active,
.sorting-style-down-dir:active {
  fill: rgb(129, 179, 210);
}

.sorting-style-down-dir {
  fill: rgb(129, 179, 210);
}

.result-item-number,
.hotel-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hotel-item-title h2 {
  padding-top: 0px;
}

.hotel-item-title:hover {
  color: rgb(129, 179, 210);
}

.hotel-item-title:active {
  color: rgba(0, 0, 0, 0.302);
}

.button-info {
  display: block;
  width: 110px;
  height: 27px;

  font-weight: bold;
  line-height: 27px;
  text-align: center;
  color: rgb(255, 255, 255);

  background-color: rgb(129,179,210);
}

.button-info:hover {
  background-color: rgb(102,158,192);
}

.button-info:active {
  color: rgb(255, 255, 255);

  background-color: rgb(136, 182, 209);
}

.button-booking {
  display: block;
  width: 143px;
  height: 27px;

  font-weight: bold;
  text-align: center;
  line-height: 27px;
  color: rgb(255, 255, 255);

  background-color: rgb(118, 99, 87);
}

.button-booking:hover {
  background-color: rgb(96,78,67);
}

.button-booking:active {
  color: rgb(133, 120, 113);

  background-color: rgb(80, 62, 51);
}

html,
body {
  min-width: 1280px;
}

.full-page {
  position: relative;

  width: 1280px;
  margin: 0 auto;
  padding: 0 0px;

  background-color: rgb(242, 242, 242);
}

.internal-page {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0px;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 20px rgb(206,206,206);
  box-shadow: 0px 0px 20px rgb(206,206,206);
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.main-navigation {
  position: relative;
}

.logo {
  position: absolute;
  top: 0px;
  right: 459px;
  z-index: 1;
}

.site-navigation {
  width: 1056px;
  min-height: 20px;
  margin: 0;
  padding: 0;
  padding: 14px 0px;

  list-style: none;
}

.site-navigation li {
  display: inline-block;
  min-height: 20px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.left-part ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  min-width: 524px;
  min-height: 20px;
  padding: 0;
}

.right-part ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  min-width: 524px;
  min-height: 20px;
  padding: 14px 0px 18px 0px;
}

.left-part ul,
.right-part ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.left-part ul li {
  padding-right: 130px;
}

.left-part ul a {
  display: block;
  width: 110px;

  line-height: 26px;
}

.right-part ul li {
  padding-left: 130px;
}

.right-part ul a {
  display: block;
  min-width: 110px;

  line-height: 26px;
  text-align: right;
}

.intro-welcome {
  position: relative;

  width: 1200px;
  height: 507px;

  background-image: url("../img/intro-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 507px;
}

.welcome {
  position: absolute;
  top: 76px;
  left: 371px;
}

.advantages-header-wrapper {
  width: 1200px;
  height: 217px;
  margin-top: 0px;
}

.advantages-header-wrapper h1,
.advantages-header-wrapper h2,
.advantages-header-wrapper p {
  margin-top: 0px;

  line-height: 26px;
  text-align: center;
}

.advantages-header-wrapper h1 {
  padding: 61px 350px 15px 350px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-item-blue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 1200px;
  height: 256px;
}

.advantages-items-white {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 1200;
  height: 330px;
}

.advantages-items-gray {
  width: 1200;
  height: 256px;

  background-color: rgb(238, 238, 238)
}

.advantages-item-wrapper {
  width: 400px;
  height: 256px;

  text-align: center;
}

.item-blue-photo {
  width: 800px;
  height: 256px;
}

.items-white-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 1200px;
  height: 330px;
  margin: 0px;
  padding: 0px;
}

.items-gray-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0px;
  padding: 0px;
}

.items-gray-list p {
  padding: 0px 22px 0px 22px;
}

.footer-main {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1200px;
  height: 121px;
}

.footer-hashtag {
  width: 400px;
  margin: 0;
  padding-top: 47px;

  text-align: center;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 151px;
  margin: 0px;
  padding: 0px;
  padding-top: 38px;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
  margin: 0px;

  background-color: rgb(129, 179, 210);
}

.footer-copyright {
  width: 400px;
  margin: 0;
  padding-left: 102px;
  padding-top: 49px;

  color: rgb(0, 0, 0);

  box-sizing: border-box;
}

.logo-htmlacademy {
  position: absolute;
  bottom: 39px;
  right: 101px;

  display: block;
  width: 115px;
  height: 41px;
}

.infrastructure {
  min-width: 250px;
  min-height: 217px;
  padding-top: 26px;
  padding-left: 0px;

  box-sizing: border-box;

  border: none;
}

.accomodation {
  min-width: 200px;
  min-height: 217px;
  padding-top: 26px;
  padding-left: 0px;
  margin-right: 282px;

  box-sizing: border-box;

  border: none;
}

.price-level {
  min-width: 218px;
  min-height: 217px;
  padding-top: 26px;

  border: none;
}

.hotel-sorting-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  width: 1056px;
  min-height: 50px;
  padding-top: 29px;
  padding-left: 72px;

  box-sizing: border-box;
}

.result-item-number {
  min-width: 165px;
  min-height: 50px;
  margin: 0;
  padding: 0;
}

.result-item-sorting {
  min-width: 114px;
  min-height: 50px;
  margin: 0;
  padding: 0;
}

.sorting-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  min-width: 77px;
}

.sorting-style a .line-under {
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.sorting-style a {
  display: block;
  min-width: 81px;
  font-size: 12px;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
}

.item-3 {
  margin-right: 499px;
}

.sorting-style-up a,
.sorting-style-down a {
  min-width: 22px;
}

.result-list {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;

  border-top: 1px solid rgb(229, 229, 229);
}

.result-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 1200px;
  min-height: 151px;

  box-sizing: border-box;

  border-bottom: 1px solid rgb(229, 229, 229);
}

.result-item-image {
  width: 135px;
  height: 92px;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-left: 71px;
}

.hotel-item-info {
  width: 363px;
  height: 126px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  padding-top: 6px;
}

.hotel-item-info h2 {
  margin-bottom: 7px;
}

.category-wrapper {
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;

  width: 260px;
}

.hotel-item-category,
.hotel-item-price {
  min-width: 110px;
  margin-right: 6px;
  margin-bottom: 14px;
}

.button-info {
  margin-right: 5px;
  margin-left: 1px;
}

.result-item-stars {
  position: relative;

  width: 529px;
  height: 134px;
  margin: 0;
  padding: 0;
}

.result-item-stars p {
  display: block;
  width: 111px;
  height: 27px;
}

.item-1-stars,
.item-2-stars,
.item-3-stars {
  position: absolute;
  top: 14px;
  right: 0px;

  display: block;
  width: 90px;
  margin-left: auto;
}

.item-1-stars {
  background-image:
  url("../img/star.svg"), url("../img/star.svg"),
  url("../img/star.svg"), url("../img/star.svg");
  background-position: 23px 0px, 47px 0px, 70px 0px, 93px 0px;
  background-repeat: no-repeat;
}

.item-2-stars {
  background-image:
  url("../img/star.svg"), url("../img/star.svg"),
  url("../img/star.svg");
  background-position: 45px 0px, 70px 0px, 91px 0px;
  background-repeat: no-repeat;
}

.item-3-stars {
  background-image:
  url("../img/star.svg"), url("../img/star.svg");
  background-position: 70px 0px, 92px 0px;
  background-repeat: no-repeat;
}

.item-rating {
  margin-top: 90px;
  margin-left: auto;
  margin-right: 0;

  line-height: 27px;
  text-align: center;
  color: rgb(102, 102, 102);

  background-color: rgb(242, 242, 242);
}

.hotel-search-wrapper {
  position: relative;

  width: 1200px;
  height: 291px;

  text-align: center;
}

.hotel-search-wrapper p {
  margin: 0px;
  padding: 53px 0px 25px 0px;

  text-align: center;
}

.sedona-map {
  width: 1200px;
  height: 473px;
}

.sedona-map h2 {
  margin: 0px;
}

.footer-main p {
  margin: 0px;
}

.modal-search {
  width: 569px;
  height: 395px;
  margin: 0 auto;
  padding: 0 0px;
  padding: 55px 55px;

  font-weight: bold;
  color: rgb(0, 0, 0);

  box-sizing: border-box;

  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.05),
  0 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 459px;
  height: 38px;
  margin-bottom: 30px;
}

.form-item label {
  display: block;
  width: 95px;
}

.form-item button,
.form-item button:active,
.form-item-age button,
.form-item-age button:active {
  outline: none;
}

.date-wrapper {
  position: relative;

  width: 343px;
  height: 38px;
  margin-left: 17px;

  background-color: rgb(242, 242, 242);
}

.form-item input {
  display: block;
  width: 150px;
  height: 38px;
  padding: 0px;
  padding-left: 14px;

  font-weight: bold;
  line-height: 38px;

  border: none;

  background-color: rgb(242, 242, 242);
}

.form-item-age {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 569px;
  height: 38px;
  margin: 0;
  }

.age-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 276px;
  margin-right: 2px;
}

.age-group label[for="adults-number"] {
  display: block;
  width: 95px;
}

.age-group label[for="kids-number"] {
  display: block;
  width: 46px;
}

.number-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 115px;
  height: 38px;
  margin-left: 17px;
  padding-left: 1px;

  background-color: rgb(242, 242, 242);
}

.age-group input {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  font-weight: bold;
  line-height: 38px;
  text-align: center;
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242);
  border: none;
}

.option-checkbox-on {
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.option-checkbox-off {
  position: relative;

  padding-left: 39px;

  cursor: pointer;
}

.option-checkbox-off input[type="checkbox"]:not(disabled):not(checked) + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.option-checkbox-off input[type="checkbox"]:not(disabled):checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}


.option-checkbox-off input[type="checkbox"]:disabled + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-disabled.svg");
}

.option-checkbox-on input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.option-checkbox-on input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}


.price-controls {
  position: relative;

  width: 314px;
  height: 34px;
  margin-bottom: 18px;
  margin-top: 11px;

  font-size: 0;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 26px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  padding-left: 0px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: rgb(255, 255, 255);
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
